@model ChangePasswordViewModel
@{  ViewBag.Title = "Change Password"; }
 
<div class="row">
    <h2>
        Change Password
    </h2>
</div>

<div class="row">
    <form asp-controller="Account" asp-action="ChangePassword" method="post">
        <table>
            <tr>
                <td>Current Password:</td>
                <td><input type="password" asp-for="CurrentPassword" required /></td>
            </tr>
            <tr>
                <td>New Password:</td>
                <td><input type="password" asp-for="NewPassword" required /></td>
            </tr>
            <tr>
                <td>Confirm Password:</td>
                <td><input type="password" asp-for="ConfirmPassword" required /></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Change Password" /></td>
            </tr>
        </table>
    </form>
</div>